@import "../../styles/utils/mixins";
@import "../../styles/utils/variables";

.card {
  cursor: pointer;
  max-width: 360px;
  color: $main-bg-color;
  gap: 16px;
  display: flex;
  flex-direction: row;
  padding: 32px 24px 48px;
  background-color: $main-bg-block;
  box-shadow: 14px 15px $brand-color2;
  margin-right: 15px;

  transition: all 0.4s ease;

  @include onDesktop {
    //margin-right: 0;
    //margin-top: 48px;
    margin-right: 0;
  }

  &:hover {
    box-shadow: none;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
