@import "./styles/utils/variables";
@import "./styles/utils/mixins";

.header {
  color: $main-bg-color;
  padding: 12px 12px 48px;
  background-color: $main-bg-block;
  box-sizing: border-box;
  background-size: cover;

  @include onDesktop {
    padding: 24px 136px 96px;
  }

  &__bottom {
    padding-bottom: 29px;
    display: flex;
    flex-wrap: wrap;

    @include onDesktop {
      flex-wrap: nowrap;
      padding-bottom: 0;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__welcome {
    margin-bottom: 24px;
  }

  &__text {
    color: $main-bg-color;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 36px;

    @include onDesktop {
      width: 494px;
      margin-bottom: 48px;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;

    @include onDesktop {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__content-image {
    box-shadow: 29px 29px $brand-color2;
    display: block;
    width: 337px;
    height: 386px;

    @include onDesktop {
      width: 420px;
      height: 480px;
    }
  }

  &__image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-image: url(./img/image-header-full.jpeg);
  }
}

.logo {
  width: 34.76px;
  height: 28px;
}

.button {
  cursor: pointer;
  border: none;
  padding: 16px 32px;

  font-family: 'Ubuntu', sans-serif;
  color: $main-bg-color;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.button--header {
  background-color: $brand-color2;
}

.content {
  padding: 64px 12px;

  @include onDesktop {
    padding: 80px 136px;
  }
}

.content--last {
  padding: 64px 12px 0;
}

.about {
  @include onDesktop {
    display: flex;
    gap: 160px;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    margin-bottom: 24px;
  }

  &__images {
    position: relative;
    margin-bottom: 98px;
  }

  &__describe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__text {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    &--space {
      margin-bottom: 36px;

      @include onDesktop {
        margin-bottom: 48px;
      }
    }
  }
}

.img1 {
  z-index: 1;

  @include onDesktop {
    width: 380px;
    height: 420px;
  }
}

.img2 {
  box-shadow: -20px 20px $brand-color3;
  top: 151px;
  left: 170px;
  position: absolute;
  z-index: 2;

  @include onDesktop {
    width: 240px;
    height: 280px;
    top: 212px;
    left: 236px;
  }
}

.service {
  box-sizing: border-box;
  padding: 0 12px 64px;

  @include onDesktop {
    padding: 0 136px 80px;
  }

  &__logo {
    margin-bottom: 24px;

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}


.button--color_about {
  background-color: $brand-color1;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  @include onDesktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
  }
}


















