@import "./styles/utils/variables";
@import "./styles/utils/mixins";

.header {
  color: $main-bg-color;
  background-color: $main-bg-block;
  box-sizing: border-box;
  background-size: cover;

  &__main-page {
    padding: 12px 12px 48px;

    @include onDesktop {
      padding: 24px 136px 96px;
    }
  }

  &__service-page {
    padding: 48px 24px 64px;

    @include onDesktop {
      padding: 64px 24px 80px;
    }
  }

  &__bottom {
    padding-bottom: 29px;
    display: flex;
    flex-wrap: wrap;

    @include onDesktop {
      flex-wrap: nowrap;
      padding-bottom: 0;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__welcome {
    margin-bottom: 24px;
  }

  &__text {
    color: $main-bg-color;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 36px;

    @include onDesktop {
      width: 494px;
      margin-bottom: 48px;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;

    @include onDesktop {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__content-image {
    box-shadow: 29px 29px $brand-color2;
    display: block;
    width: 337px;
    height: 386px;

    @include onDesktop {
      width: 420px;
      height: 480px;
    }
  }

  &__image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-image: url(./img/image-header-full.jpeg);
  }
}

.logo {
  width: 34.76px;
  height: 28px;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 16px 32px;

  font-family: 'Ubuntu', sans-serif;
  color: $main-bg-color;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;

  transition: all 400ms ease;

  &--dark_purple {
    background-color: $brand-color1;
  }
}

.btn:hover {
  background-color: $light-purple;
}

.btn--header {
  background-color: $brand-color2;
}

.btn--header:hover {
  background-color: $brand-color3;
}

.content {
  padding: 64px 12px;

  @include onDesktop {
    padding: 80px 136px;
  }
}

.content--last {
  padding: 64px 12px 0;
}

.about {
  @include onDesktop {
    display: flex;
    gap: 160px;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    margin-bottom: 24px;
  }

  &__images {
    position: relative;
    margin-bottom: 98px;
  }

  &__describe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__text {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    &--space {
      margin-bottom: 36px;

      @include onDesktop {
        margin-bottom: 48px;
      }
    }
  }
}

.img1 {
  z-index: 1;

  @include onDesktop {
    width: 380px;
    height: 420px;
  }
}

.img2 {
  box-shadow: -20px 20px $brand-color3;
  top: 151px;
  left: 170px;
  position: absolute;
  z-index: 2;

  @include onDesktop {
    width: 240px;
    height: 280px;
    top: 212px;
    left: 236px;
  }
}

.service {
  box-sizing: border-box;
  padding: 0 12px 64px;

  @include onDesktop {
    padding: 0 136px 80px;
  }

  &__logo {
    margin-bottom: 24px;

    @include onDesktop {
      margin-bottom: 48px;
    }
  }
}

.btn--color_about {
  background-color: $brand-color1;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  @include onDesktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 44px;

    justify-items: stretch;
    align-items: stretch;
  }
}

.title {
  //text-align: center;
  font-size: 54px;
  font-style: normal;
  line-height: 64px;

  &__h2 {
    font-size: 48px;
    font-style: normal;
    line-height: 56px;
  }

  &__normal {
    font-weight: 300;

    &--purple {
      color: $brand-color2;
    }
  }

  &__storng {
    font-weight: 700;
  }

  &__description {
    color: $main-bg-block;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

.service__card {
  display: flex;
  flex-direction: column;
  gap: 134px;

  @include onDesktop {
    flex-direction: row;
    gap: 160px;
    align-items: center;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &__bottom {

  }

  &__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 56px;

    margin-bottom: 24px;

    &--purple {
      color: $brand-color2;
    }

    &--bold {
      font-weight: 700;
    }
  }

  &__description {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    margin-bottom: 36px;
  }
}

.twice__image {
  position: relative;

  .img--big {
    width: 310px;
    height: 343px;

    @include onDesktop {
      width: 380px;
      height: 420px;
    }

    z-index: 1;
  }

  .img--small {
    position: absolute;
    z-index: 2;

    width: 196px;
    height: 228px;

    top: 151px;
    left: 170px;

    @include onDesktop {
      width: 240px;
      height: 280px;

      top: 212px;
      left: 236px;
    }

    box-shadow: -20px 20px $brand-color2;

    &--left {
      @include onDesktop {
        position: absolute;
        box-shadow: -20px 20px $brand-color2;
        top: 212px;
        left: -72px;
      }
    }
  }
}

.contact__page {
  padding-inline: 12px;
  padding-block: 64px;

  @include onDesktop {
    padding-inline: 136px;
  }
}

.contact__block {
  display: flex;
  flex-direction: column;
  gap: 80px;

  //@include onDesktop {
  //  padding-block: 80px;
  //}

  &__top {

    @include onDesktop {
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      position: relative;
    }
  }

  &__image {
    display: flex;
    background-image: url(img/contacts_bg.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 206px;
    z-index: 1;

    @include onDesktop {
      background-image: url(img/main_mg_image_contacts.svg);
      height: 521px;
      width: 1080px;

      margin-top: 87px;
      margin-left: 88px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 24px;
    margin-bottom: 64px;

    border: 1px solid var(--bg-15, rgba(173, 87, 197, 0.15));
    background: linear-gradient(0deg, rgba(173, 87, 197, 0.05) 0%, rgba(173, 87, 197, 0.05) 100%), #FFF;;



    @include onDesktop {
      padding: 48px;
      width: 560px;

      z-index: 2;


      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 36px;

    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  h3 {
    color: $main-bg-block;
  }

  &__title {
    display: block;
    align-self: stretch;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 56px;

    margin-bottom: 36px;


    @include onDesktop {
      margin: 0 auto;
      text-align: center;
      width: 566px;
    }

    &--stong {
      font-weight: 700;
    }
  }
}

.mini__block {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;

  &__link {
    cursor: pointer;
    color: #000;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

.form {
  position: relative;
  display: grid;
  grid-row-gap: 32px;

  @include onDesktop {
    padding: 36px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 92px 92px 235px;
    grid-column-gap: 24px;
  }

  &__lable {
    display: grid;
    grid-row-gap: 8px;

    color: rgba(0, 0, 0, 0.50);
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  &__field {
    height: 60px;
    align-items: center;
    gap: 10px;
    padding-left: 10px;

    align-self: stretch;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    border: 1px solid rgba(173, 87, 197, 0.15);
    background-color: rgba(173, 87, 197, 0.05);

    &__area {
      position: relative;
      padding: 10px;
      height: 180px;
      align-items: center;
      align-self: stretch;
      resize: none;
      overflow: hidden;
      font-size: 24px;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.5);

      border: 1px solid rgba(173, 87, 197, 0.15);
      background-color: rgba(173, 87, 197, 0.05);

      margin-bottom: 36px;

      @include onDesktop {
        margin-bottom: 0;
      }
    }
  }
}

@include onDesktop {
  .grid-1-3 {
    grid-area: 3 / 1 / -1 / -1;
  }

  .btn--position {
    position: relative;
    display: flex;
    margin: 0 auto;
  }
}

#map {
  border: 1px solid rgba(173, 87, 197, 0.15);

  width: 100%;
  height: 600px;
}

.leaflet-container {
  height: 100%;
}

.btn-space {
  margin-bottom: 36px;
}

.popup-window {
  background-color: #999;
}

.is-danger {
  transition: all 400ms ease;
  border: 1px solid #d39595;
}

.btn--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  animation: button-loading-spinner 1s linear infinite;
}

.btn-text--hidden {
  visibility: hidden;
  opacity: 0;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to  {
    transform: rotate(1turn);
  }
}




