.header {
  color: #fff;
  padding: 12px 12px 48px;
  background-color: #051424;
  box-sizing: border-box;
  background-size: cover;
}
@media (min-width: 1440px) {
  .header {
    padding: 24px 136px 96px;
  }
}
.header__bottom {
  padding-bottom: 29px;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1440px) {
  .header__bottom {
    flex-wrap: nowrap;
    padding-bottom: 0;
    justify-content: space-between;
    align-items: center;
  }
}
.header__welcome {
  margin-bottom: 24px;
}
.header__text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 36px;
}
@media (min-width: 1440px) {
  .header__text {
    width: 494px;
    margin-bottom: 48px;
  }
}
.header__content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
}
@media (min-width: 1440px) {
  .header__content {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__content-image {
  box-shadow: 29px 29px #AD57C5;
  display: block;
  width: 337px;
  height: 386px;
}
@media (min-width: 1440px) {
  .header__content-image {
    width: 420px;
    height: 480px;
  }
}
.header__image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-image: url(./img/image-header-full.jpeg);
}

.logo {
  width: 34.76px;
  height: 28px;
}

.button {
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.button--header {
  background-color: #AD57C5;
}

.content {
  padding: 64px 12px;
}

.content--last {
  padding: 64px 12px 0;
}

.about__images {
  position: relative;
  margin-bottom: 98px;
}

.img1 {
  z-index: 1;
}

.img2 {
  box-shadow: -20px 20px #D03AFA;
  top: 151px;
  left: 170px;
  position: absolute;
  z-index: 2;
}

.about__describe p {
  margin-bottom: 36px;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.button--color_about {
  background-color: #54007C;
}

.service__logo {
  margin-bottom: 24px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #051424;
  padding: 48px 12px;
}

.footer__title {
  display: flex;
  gap: 16px;
  margin-bottom: 48px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #fff;
  padding: 0;
  margin: 0;
}

.link {
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 4px;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link__service__footer {
  color: #fff;
}

.sign {
  color: #fff;
  margin: 0 auto;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
}

/*# sourceMappingURL=App.css.map */
