$main-bg-color: #fff;
$main-bg-block: #051424;
$brand-color1: #54007C;
$brand-color2: #AD57C5;
$brand-color3: #D03AFA;

h1 {
  font-size: 3.375rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

h4, h5, h6 {
  font-size: 1.25rem;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: $main-bg-color;
}
