@import "./styles/utils/variables";

h1 {
  font-size: 3.375rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
  color: $main-bg-color;
  font-family: Ubuntu, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

h4, h5, h6 {
  font-size: 1.25rem;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Ubuntu', sans-serif;
  line-height: 24px;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $main-bg-color;
}
